.column {
  float: left;
  padding: 10px;
  height: 100vh;
}

.left {
  width: 30%;
}

.right {
  width: 70%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

#row-1 {
  height: 60%;
  padding: 20px;
}

#row-2 {
  height: 40%;
  padding: 20px;
}

#search-title {
  max-width: 350px;
  margin: 20px;
}

.search {
  height: 100%;
  display: flex;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
}

.search input {
  width: 100%;
  font-size: 25px;
  border: none;
  background-color: white;
  color: white;
}

.search input:focus {
  outline: none;
}

.search i {
  color: white;
  font-size: 25px;
}

#weather-output {
  width: 1000px;
}

#history {
  margin: 20px;
}

#uv-index {
  border: none;
  height: fit-content;
  padding: 3px;
  font-size: small;
  border-radius: 20%;
  background-color: red;
  color: white;
}

.card-header{
  display: flex;
  background-color: antiquewhite;
  align-items: center;
  padding-left: 20px;
}




