body {
  background-image: url(https://images.pexels.com/photos/733857/pexels-photo-733857.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.todo {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  margin: auto;
}

.title-container {
  display: flex;
  height: 80px;
  font-size: 24px;
  font-family: cursive;
  font-style: italic;
  box-shadow: 5px 7px 7px 0px rgba(68, 25, 185, 0.2),
    0 10px 10px 0 rgba(38, 41, 223, 0.19);
  border-radius: 50px;
  margin-top: 50px;
  justify-content: center;
  align-items: center;
  background-image: url(https://images.pexels.com/photos/268415/pexels-photo-268415.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
  background-repeat: no-repeat;
  background-size: 500px 120px;
}

.input-container {
  height: 100%;
  margin-top: 25px;
  padding: 20px;
  border-radius: 30px;
  border: 5px solid rgb(102, 4, 4);
  box-shadow: 5px 7px 7px 0px rgba(218, 16, 16, 0.247),
    0 10px 10px 0 rgba(228, 29, 29, 0.116);
  display: flex;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
}

.input-container input {
  width: 100%;
  font-size: 25px;
  border: none;
  background-color: transparent;
  color: black;
}

.input-container input:focus {
  outline: none;
}

#addButton {
  border: none;
  background-color: transparent;
}
